pulumi.dev.yaml
pulumi.aws.yaml
node_modules/
.DS_Store
.vscode/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
coverage/
.idea/
*.iml
*.log
temp/*
!temp/.gitkeep
Pulumi.*.*
!Pulumi.dev.yaml.example
